.contacts__info {
  display: flex;
  justify-content: center;
}
.form__container {
  background-color: #153e4d;
  margin: 15px 0;
}
input::placeholder,
textarea::placeholder {
  padding: 5px;
  color: #263238;
}
label {
  display: block;
  color: #fff;
}
textarea.form__control {
  height: auto;
}
.form__control {
  color: #fff;
  font-size: 16px;
  padding: 5px;
  background-color: #4d6c78;
  width: 400px;
  height: 44px;
  border-radius: 5px;
  margin: 5px;
}
@media (max-width: 769px) {
  .form__control {
    width: 320px;
  }
}
input:focus {
  outline: none;
}
textarea .form__control {
  height: auto;
}
.contacts {
  margin-right: 30px;
}
@media (max-width: 769px) {
  .contacts__info {
    flex-direction: column;
  }
}
