/*-----------------------CONTAINER---------------------------*/
/*Desktop*/
.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.own-container {
  margin: 0 auto;
  max-width: 1200px;
}

/*------------------------------MAIN---------------------------------*/
/*info*/
.general {
  width: 100%;
  height: 800px;
  background-image: linear-gradient(
      rgba(35, 38, 40, 0.74),
      rgba(35, 38, 40, 0.74)
    ),
    url(../assets/backgrounds/info-bg.jpg);
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.general-title {
  font-size: 80px;
  text-align: center;
  font-weight: 900;
  line-height: 90px;
}

.subtitle {
  font-size: 22px;
  text-align: center;
}
.general-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*--------------benefits*/
#benefits {
  width: 100%;
  padding: 120px 0;
  border-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cards__container {
  display: flex;
  padding: 20px;
}
.benefit-card {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}
.card__title {
  font-size: 23px;
  font-weight: 700;
}
.card__description {
  text-align: center;
}
/*credit*/
#credit {
  width: 100%;
  padding: 120px 0;
  background-color: #eee;
}
.programs {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.program {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 480px;
}
.program-business {
  background-image: linear-gradient(
      rgba(21, 62, 77, 0.74),
      rgba(21, 62, 77, 0.74)
    ),
    url(../assets/img/buisness-credit.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.program-personal {
  background-image: linear-gradient(
      rgba(21, 62, 77, 0.74),
      rgba(21, 62, 77, 0.74)
    ),
    url(../assets/img/personal-credit.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
/*special */
#special {
  width: 100%;
  padding: 120px 0;
}
.offers {
  display: flex;
}
.offer {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.offer__img img {
  width: 270px;
  height: 154px;
}

.offer__description {
  text-align: center;
}
/*-------------------------HELP-----------------------------*/
.help {
  width: 100%;
  padding: 120px;
  background-image: linear-gradient(
      rgba(21, 62, 77, 0.74),
      rgba(21, 62, 77, 0.74)
    ),
    url(../assets/backgrounds/help-bg.jpg);
  background-position-x: 50%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.help__message {
  text-align: center;
}

/*---------------------------PARTNERS---------------------*/
.partners {
  padding: 12px 0;
  width: 100%;
  min-height: 400px;
  background-image: linear-gradient(
      rgba(21, 62, 77, 0.74),
      rgba(21, 62, 77, 0.74)
    ),
    url(../assets/backgrounds/partners-bg.jpg);
  background-position-x: 50%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.partner__logo {
  display: flex;
}
.partner__logo img {
  width: 200px;
  height: 100px;
  margin-right: 50px;
}

/*-----------------------ABOUT-------------------------*/
.about {
  width: 100%;
  padding: 120px 0;
  background-color: #eee;
  min-height: 600px;
}

.about__card {
  width: 400px;
  height: 270px;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.about__images {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 50% 50%;
}
.card1 {
  background-image: linear-gradient(
      rgba(35, 38, 40, 0.56),
      rgba(35, 38, 40, 0.56)
    ),
    url(../assets/backgrounds/image1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 50%;
}
.card2 {
  background-image: linear-gradient(
      rgba(35, 38, 40, 0.56),
      rgba(35, 38, 40, 0.56)
    ),
    url(../assets/backgrounds/image2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 50%;
}
.card3 {
  background-image: linear-gradient(
      rgba(35, 38, 40, 0.56),
      rgba(35, 38, 40, 0.56)
    ),
    url(../assets/backgrounds/image3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.card4 {
  background-image: linear-gradient(
      rgba(35, 38, 40, 0.56),
      rgba(35, 38, 40, 0.56)
    ),
    url(../assets/backgrounds/image4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.card5 {
  background-image: linear-gradient(
      rgba(35, 38, 40, 0.56),
      rgba(35, 38, 40, 0.56)
    ),
    url(../assets/backgrounds/image5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.card6 {
  background-image: linear-gradient(
      rgba(35, 38, 40, 0.56),
      rgba(35, 38, 40, 0.56)
    ),
    url(../assets/backgrounds/image6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/*---------------------news-------------------*/
#news {
  width: 100%;
  padding: 120px 0;
  background-color: #eee;
}
.news__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.news__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.news__title h3 {
  font-size: 20px;
}
.news__image {
  width: 370px;
  height: 210px;
}
.news__image1 {
  background-image: url(../assets/backgrounds/news1.jpg);
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;
}
.news__image2 {
  background-image: url(../assets/backgrounds/news2.jpg);
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;
}
.news__image3 {
  background-image: url(../assets/backgrounds/news3.jpg);
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;
}

/*testi*/
#testimonials {
  padding: 120px 0;
  width: 100%;
  min-height: 300px;
}
.testimonial {
  width: 100%;
}
.carousel-item {
  padding: 0 10px;
  text-align: center;
}
.carousel-item {
  height: 400px;
}
.client-photo_container {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.client-photo {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  background-size: cover;
}
.kate {
  background-image: url(../assets/img/kate.jpg);
  background-position: 80% 30%;
}
.anton {
  background-image: url(../assets/img/anton.jpg);
  background-position: 80% 0;
}
.victor {
  background-image: url(../assets/img/victor.jpg);
  background-position: 80% 30%;
}

/*---------------------FOOTER----------------------------------------*/
footer {
  width: 100%;
  min-height: 120px;
  background-color: #232628;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 10px;
}
footer .footer-content {
  display: flex;
  justify-content: space-between;
}
.footer__info {
  padding-right: 30px;
  color: gray;
}
.footer-content__item {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.social_network {
  font-size: 30px;
}

/*Laptop*/
@media (max-width: 1200px) {
  .own-container {
    max-width: 970px;
  }
  .offers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .news__image {
    width: 300px;
    height: 210px;
  }
  .about__images {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 33%;
  }
  #news {
    padding: 10px 0;
  }
  #testimonials {
    padding: 10px 0;
  }
  .about {
    padding: 20px 0;
  }
  .help {
    background-position: 80% 0%;
  }
}
/*Tab*/
@media (max-width: 992px) {
  .own-container {
    max-width: 768px;
  }
  .burger {
    display: block;
  }
  .menu {
    display: none;
  }
  .programs {
    width: 100%;
    flex-direction: column;
  }
  .program {
    width: 100%;
    height: 300px;
  }
  .general-title {
    font-size: 33px;
    line-height: 40px;
  }
  .cards__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .about__card {
    width: 380px;
  }
  .about__images {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .offers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .offer {
    flex: 1 0 100%;
  }
  .news__container {
    flex-direction: column;
  }
  .news__image {
    width: 530px;
    height: 350px;
  }
  .news__title {
    padding-top: 10px;
  }
  .partner__logo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 20px;
  }
}
/*Mobile*/
@media (max-width: 767px) {
  .own-container {
    min-width: 320px;
    max-width: none;
    margin: 0 auto;
  }
  .header__body {
    padding: 0 20px;
  }
  #benefits {
    padding: 0;
  }
  .cards__container {
    display: flex;
    flex-direction: column;
  }
  .benefit-card {
    padding: 20px 0;
  }

  #credit {
    padding: 5px 0;
  }
  #testimonials {
    padding: 0;
  }
  #special {
    padding: 0;
  }
  .about {
    padding: 0;
  }
  .burger {
    display: block;
  }
  .menu {
    display: none;
  }
  .cards__container {
    flex-direction: column;
  }
  .general-title {
    font-size: 36px;
    line-height: 40px;
    background-position-x: 0%;
    background-position-y: 0%;
  }
  .general-buttons {
    flex-direction: column;
  }
  .programs {
    padding: 0;
    margin: 0;
    flex-direction: column;
  }
  .program {
    width: 100%;
  }
  .program h2 {
    font-size: 24px;
  }
  .help__message {
    font-size: 16px;
  }
  .offers {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .offer {
    flex: 1 0 100%;
  }
  .about__card {
    width: 100%;
    height: 270px;
  }
  #news {
    padding: 0;
  }
  .about__images {
    display: flex;
    flex-direction: column;
  }
  .news__container {
    flex-direction: column;
  }
  .news__image {
    width: 100%;
  }
  .partner__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 0;
  }
  .testimonial {
    font-size: 20px;
  }
  .partner__logo img {
    margin-right: 0;
    margin-bottom: 20px;
  }
  footer {
    min-height: 40px;
  }
  .footer-content {
    flex-direction: column;
  }
}
